<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
      <% if (page.search || page.type === "search") { %>
        <%- partial('_partial/search') %>
      <% } else if (page.type === "tags") { %>
          <div id="tag-cloud">
            <div class="tag-cloud-title">
                <% var visibleTags = 0 %>
                <% site.tags.each(function(tag){ %>
                  <% if (tag.length) { %>
                    <% visibleTags += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.tag_cloud', visibleTags) %>
            </div>
            <div class="tag-cloud-tags">
              <%- tagcloud({min_font: 12, max_font: 30, amount: 300}) %>
            </div>
          </div>
        <% } else if (page.type === 'categories') { %>
          <div id="categories">
            <div class="category-list-title">
                <% var visibleCategories = 0 %>
                <% site.categories.each(function(cat){ %>
                  <% if (cat.length) { %>
                    <% visibleCategories += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.categories', visibleCategories) %>
            </div>
            <div class="category-list">
              <%- list_categories() %>
            </div>
          </div>
        <% } else if (page.title === 'Profile') { %>
          <div>
            <img style="margin: 0 20px 0 0; width: 120px; height: 120px; border-radius: 50%; float: left;" src="https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=120" />
            <span class="h1" style="margin: 20px 0">Shu Takayama</span>
            <div>
              <% var nb_links = Object.keys(theme.social_links).length %>
              <% var i = 0 %>
              <% for(var link in theme.social_links) { %>
                <% if (link == 'mail') { %>
                  <a class="icon" target="_blank" rel="noopener" href="<%- theme.social_links[link] %>" aria-label="<%- link %>">
                    <i class="fas fa-envelope fa-2x"></i><!--
              ---></a>
                <% } else if (link == 'rss') { %>
                  <a class="icon" target="_blank" rel="noopener" href="<%- theme.social_links[link] %>" aria-label="<%- link %>">
                    <i class="fas fa-rss fa-2x"></i>
                  </a>
                <% } else { %>
                    <a class="icon" target="_blank" rel="noopener" href="<%- url_for(theme.social_links[link]) %>" aria-label="<%- link %>">
                      <i class="fab fa-<%= link %> fa-2x"></i><!--
                ---></a><!--
            ---><% } %>
                <% i+=1 %>
              <% } %>
            </div>
          </div>
          <%- page.content %>
        <% } else { %>
          <%- page.content %>
        <% } %>
  </div>
</article>
